html {
    max-width: 100%;
    padding: 0;
    margin: 0;
    background-size: 100%;
    overflow-x: hidden;
}

.mainbody {
    background-image: url("images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 45vh;
    position: relative;
}

.navbar {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 4.22vh;
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2vh;
}

.menu a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f9f5fc;
    font-size: 2vh;
    margin-right: 3vw;
}

.menu a:hover {
    color: rgb(255, 255, 255);
}

.btn {
    border: .6vh #CC4C04 solid;
    background-color: #CC4C04;
    color: #f9f5fc;
    text-align: center;
    text-decoration: none;
    padding: .2vh 1.5vw;
    display: inline-block;
    font-size: 2vh;
}

.btn:hover {
    border: .6vh #aa4206 solid;
    color: #f9f5fc;
}

.intro {
    margin-left: 10vw;
    display: flex;
    padding-top: 7vh;
    flex-direction: column;
}

.jumbotron {
    background-color: transparent !important;
}

.jumbotron p {
    margin-left: -2vw;
}

.main {
    font-size: 8.4vh;
    font-family: Montserrat;
    font-weight: Bold;
    color: #f9f5fc;
}

.sns {
    margin-left: 12vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fb {
    display: flex;
    color: #f9f5fc;
    align-content: center;
    margin-right: 5vh;
    margin-top: 1vh;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 2.3vh;
}

.link-info {
    margin-top: -1vh;
    color: #f9f5fc;
    font-size: 1.7vh;
}

.link-info:hover {
    color: #d9d8da;
}

.gallery {
    margin-left: 2vw;
    color: #CC4C04;
    text-decoration: underline;
    font-size: 2vh;
}

.gallery:hover {
    color: #aa4206;
}

.sub {
    margin-top: -5vh;
}

.subbody {
    background-image: url("images/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.subintro {
    margin: 35vh 10vw;
    display: flex;
}

.side {
    text-align: right;
}

.sb {
    font-family: Montserrat;
    color: white;
    margin-top: -3vh;
}

.btnS {
    border: .6vh #E076B0 solid;
    background-color: #E076B0;
    color: #f9f5fc;
    text-align: center;
    text-decoration: none;
    padding: .2vh 1.5vw;
    display: inline-block;
    font-size: 2vh;
}

.btnS:hover {
    border: .6vh #c55f97 solid;
    color: #f9f5fc;
}

.foot {
    background-color: #343434;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
}

.footsns {
    margin-top: 6vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
}

.copyright {
    color: #f9f5fc;
}